/* CSS */
body {
    padding:0;
    margin:0;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
    color: #2a2a2a;
}
div.outer-box {
    width:100%;
    padding:0 0 35px 0;
    margin:0;
}
div.outer-box:after { /* Make it go down */
    content: "";
    display: table;
    clear: both;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3em;
    word-spacing: -0.02em;
    margin: 0 auto 35px auto;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #2a2a2a;
    padding:35px 0 45px 0;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2em;
    word-spacing: -0.02em;
    margin: 35px auto;
    color: #2a2a2a;
    display: inline-block;
    text-align: center;
    width: 100%;
}
img#author {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    padding: 0;
    margin: 0;
}
.author-box {
    width: 300px;
    margin: 0 auto;
}
.author-avatar {
    float: left;
    width: 60px;
}
.author-name {
    float: left;
    width: 240px;
}
.written-by {
    color: #aaaaaa;
    text-transform: lowercase;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    margin: 5px 0 0 20px;
    padding: 0;
    text-align: left;
}
.written-by-name {
    color: #2a2a2a;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin: 0 0 0 30px;
    padding: 0;
    text-align: left;
}
.paragraph {
    width: 60%;
    margin: 35px auto;
}
ul {
    width: 60%;
    margin: 35px auto;
}
li {
    margin-left:35px;
}
.review {
    width: 60%;
    margin: 25px auto;
}
.see-more-container {
    width: 60%;
    margin: 15px auto;
    text-align: center;
}
a.see-more {
    color: #2a2a2a;
    text-decoration: none;
    border-bottom: 5px solid yellow;
    padding:0 10px;
}
a.see-more:hover {
    border-bottom: 5px solid yellow;
    background-color: yellow;
    padding:0 10px;
}
body img {
    text-align: center;
    display:block;
    margin: 0 auto 25px auto;
    width: 600px;
}
footer {
    text-align: center;
    margin: 65px auto 0 auto;
    background-color: #2a2a2a;
    padding: 65px 0;
    color: #ffffff;
    font-size:17px;
}
li a {
    color: #2a2a2a;
    text-decoration: none;
    border-bottom: 5px solid yellow;
    padding:0 10px;
}
li a:hover {
    border-bottom: 5px solid yellow;
    background-color: yellow;
    padding:0 10px;
}
