/* CSS */
body {
    padding:0;
    margin:0;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
    color: #2a2a2a;
}
header {
    padding:0;
    margin:0;
    width:100%;
}
main {
    padding:0;
    margin:0;
    width:100%;
}
article {
    padding:0;
    margin:0;
    width:100%;
}
div.outer-box {
    width:100%;
    padding:0 0 35px 0;
    margin:0;
}
div.outer-box:after { /* Make it go down */
    content: "";
    display: table;
    clear: both;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3em;
    word-spacing: -0.02em;
    margin: 0 auto 35px auto;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #2a2a2a;
    padding:35px 0 45px 0;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2em;
    word-spacing: -0.02em;
    margin: 35px auto;
    color: #2a2a2a;
    display: inline-block;
    text-align: center;
    width: 100%;
}
#author {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    padding: 0;
    margin: 0;
}
.author-box {
    width: 300px;
    margin: 0 auto;
}
.author-avatar {
    float: left;
    width: 60px;
}
.author-name {
    float: left;
    width: 240px;
}
.written-by {
    color: #aaaaaa;
    text-transform: lowercase;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    margin: 5px 0 0 20px;
    padding: 0;
    text-align: left;
}
.written-by-name {
    color: #2a2a2a;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin: 0 0 0 30px;
    padding: 0;
    text-align: left;
}
.paragraph {
    width: 60%;
    margin: 35px auto;
}
ul {
    width: 60%;
    margin: 35px auto;
}
li {
    margin-left:35px;
    margin-bottom: 5px;
}
.review {
    width: 60%;
    margin: 25px auto;
}
.see-more-container {
    width: 60%;
    margin: 15px auto;
    text-align: center;
}
a.see-more {
    color: #2a2a2a;
    text-decoration: none;
    border-bottom: 3px solid yellow;
    padding:0 10px 0 0;
    transition: all .3s;
    background-image: linear-gradient(to right, #ffffff 50%, yellow 50%);
    background-position: 0;
    background-size: 200%;
}
a.see-more:hover {
    background-position: -100%;
}
body img {
    text-align: center;
    display:block;
    margin: 0 auto 25px auto;
    width: 600px;
}
footer {
    text-align: center;
    margin: 65px auto 0 auto;
    background-color: #2a2a2a;
    padding: 65px 0;
    color: #ffffff;
    font-size:17px;
}
li a {
    color: #2a2a2a;
    text-decoration: none;
    border-bottom: 3px solid yellow;
    padding:0 10px 0 0;
    transition: all .3s;
    background-image: linear-gradient(to right, #ffffff 50%, yellow 50%);
    background-position: 0;
    background-size: 200%;
}
li a:hover {
    background-position: -100%;
}
  
/** Quotes stuff **/

.quote-container {
    margin: 55px auto;
}
blockquote {
    background: none;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    position: relative;
    z-index: 600;
    margin-bottom: 0 !important;
}
blockquote * {
    box-sizing: border-box; 
}
blockquote p {
    color: #5e5e5e;
    margin-bottom:0;
}
blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.5em;
    left: -.3em;    
    text-shadow: none;
    z-index: -300;
}
cite {
    color: gray;
    display: block;
    font-size: .8em; 
    padding-left:65px;
    text-align: left;
    margin-top: 0;
} 
cite span {
    color: #2a2a2a;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white; 
}